.btn-outline-github {
    color: #333;
    border-color: #333;
}

.btn-outline-github:hover {
  color:#fff;
  background-color:#333;
  border-color:#333
}

.btn-outline-github:focus,
.btn-outline-github.focus {
  box-shadow:0 0 0 .2rem rgba(51,51,51,.5)
}

.btn-outline-github.disabled,
.btn-outline-github:disabled {
  color:#333;background-color:transparent
}

.btn-outline-hackerrank {
    color: #1ba94c;
    border-color: #1ba94c;
}

.btn-outline-hackerrank:hover {
  color:#fff;
  background-color: #1ba94c;
  border-color:#1ba94c
}

.btn-outline-hackerrank:focus,
.btn-outline-hackerrank.focus {
  box-shadow:0 0 0 .2rem rgba(51,51,51,.5)
}

.btn-outline-hackerrank.disabled,
.btn-outline-hackerrank:disabled {
  color:#1ba94c;background-color:transparent
}

.btn-primary:disabled .bnt-enabled-state {
  display: none;
}

.btn-primary:enabled .bnt-disabled-state {
  display: none;
}